.nav {
  height: 50px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    a {
      margin: 0 1rem;
    }
  }
}